PORT = *****
HOST = *****
DB_URL = ************
SERVICE = ********
EMAIL = ************
PASSWORD = ********
SECRET_KEY = *******
SECRETACCESSKEY="Your aws SECRET_KEY"
ACCESSKEYID="your aws ACCESSKEYID"
REGION="your aws REGION(eg.us-east-2)"
BUCKET_NAME="your bucket name"